



.log{
  margin: 15px;
    display: grid;
    grid-template-columns: 0.2fr 3fr 1fr 1fr 1fr 1fr;
    justify-items: left;
    align-items: left;
    
  }

  .hotelInfo{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: left;
    align-items: left;
    
  }

  img{
    margin-right: 15px;
  }

